/* src/components/Menu/Menu.css */

/* Estilo base do menu */
.menu {
    position: fixed;
    background: #f0f0f3;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    border-radius: 15px;
    transition: background 0.3s, box-shadow 0.3s;
}

/* Menu para desktop - Vertical à esquerda */
.menu {
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

/* Estilo dos links do menu */
.menu nav ul {
    list-style-type: none;
    padding: 0;
}

.menu nav ul li {
    margin-bottom: 20px;
}

.menu nav ul li button {
    background: none;
    border: none;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
}

.menu nav ul li button:hover {
    color: #ef4040;
}

.menu nav ul li button .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #ef4040;
    /* Cor de destaque para os ícones */
}

/* Menu para mobile - Fixo na parte inferior */


/* Estilo do menu no modo escuro */
body.dark-mode .menu {
    background: #1e1e1e;
    box-shadow: 8px 8px 16px #111, -8px -8px 16px #2f2f2f;
}

body.dark-mode .menu nav ul li button {
    color: #f0f0f3;
}

body.dark-mode .menu nav ul li button:hover {
    color: #ef4040;
}

body.dark-mode .menu nav ul li button .icon {
    fill: #ef4040;
    /* Cor de destaque para os ícones no modo escuro */
}

/* Estilo da seção inferior do menu */
.bottom-section {
    margin-top: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bottom-section button {
    background: #f0f0f3;
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    transition: background 0.3s, box-shadow 0.3s;
}

.bottom-section button:hover {
    box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #ffffff;
}

body.dark-mode .bottom-section button {
    background: #1e1e1e;
    color: #f0f0f3;
    box-shadow: 4px 4px 8px #111, -4px -4px 8px #2f2f2f;
}

body.dark-mode .bottom-section button:hover {
    box-shadow: inset 4px 4px 8px #111, inset -4px -4px 8px #2f2f2f;
}